.Comment_Section {
   text-align: left;
   padding: 12px 12px 0 12px;
}

.Comment {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.Comment button {
  align-self: flex-start;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 20px;
  padding: 0 8px;
}

.AddComment_Section {
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.Add_Comment {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 10px 10px 0;
  display: block;
  width: 70%;
  outline: none;
  font-size: 1.2em;
  align-self: center;
}

.Add_Comment:focus {
  background: #f6f6f6;
}

.Add_Btn {
  background-color: #3897F0;
  padding: 5px 8px;
  color: white;
  border-radius: 10px;
  border: none;
  align-self: center;
  width: 25%;
}

@media (max-width: 370px) {
  .Add_Btn {
    width: 30%;
  }
}
