.Post {
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px #555;
  margin: 30px auto;
  width: 500px;
  text-align: left;
  background: white;
}
.Post_Header {
  display: flex;
  padding: 12px;
  align-items: center;
}

.Thumbnail {
  width: 50px;
  height:  50px;
  margin-right: 12px;
}

.Thumbnail img {
  width: 100%;
  border-radius: 50%;
}

.Post img {
  width: 100%;
  display: block;
}

.fa-heart {
  font-size: 24px;
  padding: 12px;
  cursor: pointer;
}

.fa-heart:active {
  color: red;
}
.Likes {
  padding-left: 12px;
}

.Timestamp {
  color: #bbb;
  text-transform: uppercase;
  font-size: 0.9em;
}

@media (max-width: 550px) {
  .Post {
    width: 95%;
  }
}
